body {
    background-image: linear-gradient(rgb(190, 129, 129), rgb(13, 231, 213));
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;

}


nav a {
    margin-right: 30px;
    text-decoration: none;
    color: aqua;
    transition: .5s;
    padding: 10px 10px;
    border-radius: 5px;

}

nav a:hover {
    background-color: aqua;
    color: orange;
}

nav img {
    width: 60px;
    margin-left: 40px;
    margin-top: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 10px rgb(81, 210, 219);
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
}

section .profile1 {
    margin-left: 15%;
    margin-top: 10%;
    font-size: 20px;
}

section .profile1 h1 {
    color: orange;
    font-size: 40px;
    font-weight: 700;
}

section .profile1 h1:hover {
    transform: scale(1.2);
    transition: .5s ease;
    color: aqua;

}

section .profile1 h2 {
    color: rgba(122, 44, 153, 0.753);
    font-weight: 700;
}

section .profile1 h2:hover {
    transform: scale(1.2);
    transition: .5s ease;
    color: ivory;
}

section .profile1 h3 {
    color: rgba(255, 0, 140, 0.925);
    font-weight: 900;
}

section .profile1 h3:hover {
    transform: scale(1.2);
    transition: .5s ease;
}

section .profile1 a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: rgb(26, 23, 238);
}

section .profile1 a:hover {
    transition: .5s ease;
    background-color: rgb(237, 240, 234);
    color: rgb(255, 0, 221);
}


section .profile2 img {
    margin-left: -10%;


}

section .profile2 img:hover {
    transform: scale(1.2);
    transition: .5s ease;


}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

footer {
    margin-top: 100px;
}

@media (max-width:700px) {
    body {
        background-image: url(background1.png);
    }

    nav {
        display: flex;
        justify-content: space-between;

    }


    nav a {
        margin-right: 2px;
        text-decoration: none;
        color: aqua;
        transition: .5s;
        padding: 5px 2px;
        border-radius: 5px;
        font-size: 18px;


    }

    nav a:hover {
        background-color: aqua;
        color: orange;
    }

    nav img {
        width: 40px;
        margin-left: 5px;
        margin-top: 2px;
    }

    section {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 10px 10px rgb(81, 210, 219);
        margin-left: 5%;
        margin-right: 5%;
        overflow: hidden;
        margin-top: 15%;
    }

    section .profile1 {
        margin-left: 5%;
        margin-top: 10%;
        font-size: 20px;
    }

    section .profile1 h1 {
        color: orange;
        font-size: 40px;
        font-weight: 700;
    }

    section .profile1 h1:hover {
        transform: scale(1.2);
        transition: .5s ease;
        color: aqua;

    }

    section .profile1 h2 {
        color: rgb(238, 31, 193);
        font-weight: 700;
        font-size: 28px;
        padding-bottom: 25px;
    }

    section .profile1 h2:hover {
        transform: scale(1.2);
        transition: .5s ease;
        color: ivory;
    }

    section .profile1 h3 {
        color: rgba(255, 0, 140, 0.925);
        font-weight: 900;

    }

    section .profile1 h3:hover {
        transform: scale(1.2);
        transition: .5s ease;
    }

    section .profile1 a {
        text-decoration: none;
        padding: 10px 20px;
        background-color: aqua;
        border: none;
        border-radius: 5px;
        color: rgb(26, 23, 238);
    }

    section .profile1 a:hover {
        transition: .5s ease;
        background-color: rgb(237, 240, 234);
        color: rgb(255, 0, 221);
    }


    section .profile2 img {
        margin-left: -46%;
        margin-top: 45%;

    }

    section .profile2 img:hover {
        transform: scale(1.2);
        transition: .5s ease;


    }
}