body {
    background-image: linear-gradient(rgb(190, 129, 129), rgb(13, 231, 213));
    background-repeat: no-repeat;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav #profile {
    background-color: gray;
}

nav a {
    margin-right: 30px;
    text-decoration: none;
    color: aqua;
    transition: .5s;
    padding: 10px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: aqua;
    color: orange;
}

nav img {
    width: 60px;
    margin-left: 40px;
    margin-top: 30px;
}

nav img.logo:hover {
    transform: scale(1.5);
    transition: .5s;
}

section {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 10px rgb(81, 210, 219);
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
}

section .profile1 {
    margin-left: 15%;
    margin-top: 10%;
    font-size: 20px;
}

section .profile1 h1 {
    color: orange;
    font-size: 40px;
    font-weight: 700;
}

section .profile1 h1:hover {
    transform: scale(1.2);
    transition: .5s ease;
    color: aqua;

}

section .profile1 h2 {
    color: rgb(62, 32, 80);
    font-weight: 700;
}

section .profile1 h2:hover {
    transform: scale(1.2);
    transition: .5s ease;
    color: ivory;
}

section .profile1 h3 {
    color: rgba(255, 0, 140, 0.925);
    font-weight: 900;
}

section .profile1 h3:hover {
    transform: scale(1.2);
    transition: .5s ease;
}

section .profile1 a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: rgb(26, 23, 238);
}

section .profile1 a:hover {
    transition: .5s ease;
    background-color: rgb(237, 240, 234);
    color: rgb(255, 0, 221);
}

section .profile2 img {
    margin-left: -10%;
}

section .profile2 img:hover {
    transform: scale(1.2);
    transition: .5s ease;
}

#second_tittle {
    text-align: center;
    font-weight: 700;
    color: rgba(164, 39, 189, 0.863);
    font-size: 40px;
    margin-top: 5%;
    padding: 20px;
}

#second_tittle:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.5);
    transition: .5s;
}

.second {
    display: flex;
    background-image: rgba(73, 204, 128, 0.884);
    overflow: hidden;

}

.second .part2 {
    width: 40%;
    box-shadow: 0px 0px 15px 15px gray;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 7%;
    margin-bottom: 50px;
}

.mission {
    background-image: linear-gradient(rgb(109, 79, 192), rgba(255, 0, 0, 0.589));
}

.mission:hover {
    background-image: linear-gradient(orange, aqua);
}

.goals {
    background-image: linear-gradient(rgb(109, 23, 90), rgba(182, 158, 79, 0.795));
}

.goals:hover {
    background-image: linear-gradient(orange, aqua);
}

.second .part2 img {
    width: 50%;
    margin-left: 30%;


}

.second .part2 img:hover {
    transform: scale(1.5);
    transition: .5s;

}

.second .part2 h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    font-weight: 700;
    color: rgba(10, 247, 247, 0.781);

}

.second .part2 h2:hover {
    color: #fff;
    transition: .5s;
    transform: scale(1.2);
}

.second .part2 p {
    margin-left: 10px;
    font-size: 19px;
    color: black;
    margin-left: 5.5%;
    margin-right: 5%;

}

.second .part2 p:hover {
    transform: scale(1.1);
    transition: .5s;
    color: #fff;
}

.third {
    display: flex;
    background-image: linear-gradient(rgba(138, 139, 133, 0.719), rgba(19, 151, 85, 0.644));
    box-shadow: 0px 0px 15px 15px rgba(82, 69, 69, 0.623);
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 6%;
    margin-top: 5%;
}

.third:hover {
    background-image: linear-gradient(rgba(255, 166, 0, 0.664), rgba(20, 161, 161, 0.555));
}

.third .sites {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10px;
}

.third .sites h2 {
    color: rgb(240, 229, 229);
}

.third .sites h2:hover {
    color: #fff;
    transition: .5s;
}

.third .sites a {
    text-decoration: none;
    font-size: 20px;
    padding-top: 15px;
    font-weight: 700;
    color: rgba(255, 4, 192, 0.842);
}

.third .sites a:hover {
    transform: scale(1.2);
    transition: .5s;
    color: #fff;
}

.third .sites a i {
    margin-right: 20px;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

footer {
    margin-top: 100px;
}

@media screen and (max-width:311px) {
    body {
        margin: 0%;
        padding: 0%;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav span img {
        margin-left: -10px;
        position: absolute;
    }

    nav span a {
        margin-right: 2px;
        margin-left: 2px;

    }

    section {
        margin-left: 8px;
        margin-top: 30%;
        margin-right: 8px;
    }

    section .profile1 h1,
    h2,
    h3 a {
        margin-left: -30px;
        position: absolute;
    }

    section .profile1 h1 {
        margin-top: 2%;
        font-size: 16px;
    }

    section .profile1 h2 {
        margin-top: 10%;
        font-size: 16px;


    }

    section .profile1 h3 {
        font-size: 15px;
        margin-top: -10px;
        margin-left: -25px;

    }

    section .profile1 a {
        padding: 2px 2px;
        margin-top: 20%;
        position: absolute;
        margin-left: -25px;
    }

    section .profile2 img {
        width: 150px;
        margin-left: 15%;
    }

    #second_tittle {
        font-size: 26px;
    }

    .second {
        display: flex;
        flex-direction: column;
    }

    .second .part2 {
        width: 94%;
        margin-left: 10px;

    }

    .second .part2 h2 {
        font-size: 30px;
        margin-left: 31%;
        margin-top: -5%;
    }

    .second .part2 p {
        font-size: 18px;

    }

    .third {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 40px;
    }

    .third .sites {
        width: 100%;
    }

    .third .sites h2 {
        font-size: 20px;
        margin-top: -50px;
        padding-top: 20px;
        margin-left: -20px;
    }

    .third .sites a {
        margin-left: -30px;
        font-size: 13px;
        margin-top: 10px;
        padding: 2px 2px;

    }

    .sites .links a {
        position: absolute;
        padding: -12px;
    }

    .sites .skills a,
    li {
        margin-left: -15%;
    }

    footer {
        font-size: 11px;
        font-weight: bold;
    }
}